:root {
	--text-color: #FEF8E2;
	--background-color: #333132;
	--background-color-translucent: #333132FC;
	--link-color: #F89939;
}

@media(prefers-color-scheme: light) {
	:root {
		--text-color: #333132;
		--background-color: #FEF8E2;
		--background-color-translucent: #FEF8E2FC;
		--link-color: #F89939;
	}
}

body {
	font-family: Outage;
	color: var(--text-color);
	background-color: var(--background-color);
	padding: 0;
	height: 100%;
	overflow: hidden;
}

@font-face {
	font-family: "Outage";
	src: url("Outage.ttf") format("truetype"), url("Outage.eot");
}

#bg {
	background-color: var(--background-color);
	background: url("/background.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

#landing {
	background-color: var(--background-color);
	color: var(--text-color);
	padding: 15px 25px;
	text-align: center;
	position: absolute;
	border-radius: 5px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 100%
}

@media only screen and (min-width: 768px) {
	#landing {
		padding: 15px 50px;
	}
}

#logo {
	width: 100%;
	max-width: 300px;
	display: block;
	margin: auto;
}

.modal-content, .modal-footer {
	background-color: var(--background-color)!important;
}

h1.title {
	display: inline!important;
	font-size: 3rem;
}

a {
	color: var(--link-color)!important;
}

p {
	font-size: 22;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0px;
}

.btn-lg {
	color: var(--background-color)!important;
	background-color: var(--text-color)!important;
	font-family: Outage;
	border-radius: 5px!important;
}

.btn-link, .btn-link:hover {
	background-color: transparent;
	color: var(--text-color)!important;
	text-decoration: none;
}

.fa {
	color: var(--text-color);
	padding: 4px!important;
	margin-top: 10px;
}

.closer {
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 150%;
}

.closer:hover {
	cursor:pointer;
}

.right {
	text-align: right;
	float: right;
}

.center {
	text-align: center;
	margin: auto;
}

.tabs {
	background-color: var(--background-color);
	color: var(--link-color)!important;
	z-index: 4;
	margin: auto;
	text-align: center;
	border-radius: 0px 0px 5px 5px;
}

.tab {
	color: var(--link-color)!important;
}

.indicator {
	background-color: var(--link-color)!important;
}

.tablink {
	color: var(--link-color)!important;
}

@media only screen and (max-width: 767px) {
	.tab-title {
		display: none;
	}
}

@media only screen and (min-width: 768px) {
	.tab-icon {
		display: none;
	}
}

a.tablink i {
	color: var(--link-color);
}

.nav-link.active {
	background-color: var(--text-color)!important;
}

ul.nav {
	margin: auto;
}

#signout {
	margin: 10px;
}

@media only screen and (min-width: 768px) {
	#auth-ui-container {
		transform: scale(1.2);
		margin-top: 30px;
	}
}

.collapsible {
	border: none!important;
}

.collapsible-header, .collapsible-body {
	background-color: var(--background-color);
}

.form-group, .card-body {
	font-family: 'Source Sans Pro', sans-serif;
}

.card.faq {
	border: none;
	border-bottom: 1px solid var(--link-color)!important;
	border-radius: 0;
	background-color: var(--background-color);
}

.card.schedule {
	border-left: 4px solid var(--link-color)!important;
	border-radius: 5px;
	background-color: var(--background-color);
	margin-top: 10px;
}

.card.sponsor {
	padding: 5px;
	background-color: #FEF8E2;
}

.card.sponsor .card-body {
	color: #333132;
	background-color: #FEF8E2;
}

.card.sponsor .card-header{
	background-color: #FEF8E2;
}

.accordion {
	margin-bottom: 25px;
}

.badge {
	background-color: var(--link-color);
	color: var(--background-color);
}

.modal-footer {
	border-top: 1px solid var(--link-color);
}

hr {
	background-color: var(--link-color);
	width: 90%;
	margin: 15px auto;
}

h3 {
	margin: 20px!important;
}

@media only screen and (min-width: 768px) {
	.modal {
		height: 80vh;
		top: 10vh;
	}
}