doctype html
head
  title Sign In
  link(rel='icon' href='/tiger_small.png')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
  link(rel='stylesheet' href='/style.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
  script(src='https://use.fontawesome.com/2dcf4e58a9.js')
  link(rel='stylesheet' href='https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css')
  script(src='https://www.gstatic.com/firebasejs/6.5.0/firebase-app.js')
  script(src='https://www.gstatic.com/firebasejs/6.5.0/firebase-auth.js')
  script(src='https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js')
body
  .container
    center
      h3 Sign in to TigerHacks
      button#github.btn.btn-large Sign in with Github
      br
      p#error There was an issue signing you in, please try again later
  script(type='text/javascript').
    $(document).ready(() => {
      $('#error').hide();
      $('#message').hide();
      var firebaseConfig = {
        apiKey: "AIzaSyCvg7KHlezxRSZgTqjAiY17b5PemBY6a1o",
        authDomain: "tigerhacks.firebaseapp.com",
        databaseURL: "https://tigerhacks.firebaseio.com",
        projectId: "tigerhacks",
        storageBucket: "tigerhacks.appspot.com",
        messagingSenderId: "177120544304",
        appId: "1:177120544304:web:d1aa2fe0625e567a"
      };
      firebase.initializeApp(firebaseConfig);
      $('#github').on('click', () => {
        firebase.auth().signInWithPopup(new firebase.auth.GithubAuthProvider()).then((result) => {
          signIn(result.user);
        }).catch((error) => {
          console.log(error);
          $('#error').show();
        });
      });
    });

    function signIn(user) {
      user.getIdToken().then((idToken) => {
        $.post('/setSession', { idToken: idToken })
          .done(() => {
            location.reload();
          })
          .fail(() => {
            $('#error').show();
          });
      });
    }